<div class="jumbotron text-center">
    <h1 class="display-3">{{title}}</h1>
    <p class="lead">This is a site to show off your Video Game Library</p>
    <a href="/game/games" class="btn btn-dark btn-lg">View Games</a> <a href="/users/register" class="btn btn-dark btn-lg">Register Now</a>
</div>